<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

    <style>
        .neucha {
            font-family: "Neucha", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        body {
            padding: 1rem;
            overflow: hidden;
        }

        .info {
            font-size: 3rem;
            text-align: center;
            margin: 1rem;
        }

        .small-info {
            font-size: 1.5rem;
            text-align: center;
            width: 30%;
            text-wrap: wrap;
            margin-right: auto;
            margin-left: auto
        }

        .code {
            font-size: 4rem;
            text-align: center;
            margin: 1rem;
        }
    </style>
</head>

<body>
    <h3 class="info neucha">Это ваш пароль</h3>
    <h1 class="code neucha">{{password}}</h1>
    <h2 class="small-info neucha">Если вы не запрашивали пароль, то похоже вас пытаются взломать :)</h2>
</body>

</html>
